<!DOCTYPE html>
{% load staticfiles %}
{% load dajaxice_templatetags %}
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> 
<html class="no-js" lang="en"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>MVPtest | {% block title %}Homepage{% endblock%}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
		<link rel="icon" type="image/png" href="{% static 'favicon.ico' %}">
				    
		<link href="{% static 'css/overcast/jquery-ui-1.10.2.custom.min.css' %}" rel="stylesheet">
		<!-- Le styles -->
		<!--<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">		-->
		<link href="{% static 'css/bootswatch.css' %}" rel="stylesheet">	
		<link href="{% static 'css/custom.css' %}" rel="stylesheet">
		<link href="{% static 'css/bootstrap-responsive.css' %}" rel="stylesheet">
		<link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
		{% block head %} {% endblock %}		
		<!--[if lt IE 9]>
		  <script src="{% static 'js/html5shiv.js' %}"></script>
		<![endif]-->		
        
    </head>
	<body id="home">
    
	<!-- Navbar
	  ================================================== -->
	<div class="navbar navbar-fixed-top">
	    <div class="navbar-inner">
	        <div class="container">
	            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
	                <span class="icon-bar"></span>
	                <span class="icon-bar"></span>
	                <span class="icon-bar"></span>
	            </a>
	            <a class="brand"><img height="35px" width="35px" src="{% static 'img/crossValidateLogoWhite_small.png' %}" />MVPtest <i>(Beta version)</i></a>
	            <div class="nav-collapse collapse" id="main-menu">
	                <ul class="nav" id="main-menu-left">
	
	                </ul>
	
	               
	
	                <ul class="nav pull-right" id="main-menu-right">
	                    {% if user.is_authenticated %}
	                    <li><a href="{% url 'account_logout' %}">Sign Out {{ user }}</a></li>
	                    {% else %}
	                    <li><a href="/accounts/twitter/login/">Start an MVPtest</a></li>
	                    {% endif %}
	                </ul>
	            </div>
	        </div>
	    </div>
	</div>    
    
        <div id="body-container" class="container">
        
    {% block content %}
    {% endblock content %}
    
    {% block extra_body %}
    {% endblock extra_body %}


        
        </div> <!-- /container -->
        
    	<!-- FOOTER -->
    		
		<footer id="footer">
			<div class="navbar navbar-fixed-bottom">
			  <div class="navbar-inner">
	
					<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
			  
					
					<div class="nav-collapse collapse">
						<ul class="nav">
							<li class="span4 text-center"><p></p>
							<li class="span2 text-center"><a href="http://www.andreii.com" target="_blank" role="button" data-toggle="modal">Andrei Averkin 2013</a></li>
							<li class="span2 text-center"><a href="mailto:email@MVPtest.com?Subject=Hi%20Andrei" target="_top">Drop me an Email</a></li>	
                            <li class="span2 text-center"><a href="#FAQ" role="button" data-toggle="modal">MVPtest FAQ</a></li>	
                            	                            
						</ul>
					</div>

			  </div>
			</div>		
		</footer>
		
		<!-- MODALS -->
		
		<div id="FAQ" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h3 id="myModalLabel1">MVPtest FAQ</h3>
		  </div>
		  <div class="modal-body">
			<div class="accordion" id="accordion2">
			  <div class="accordion-group">
			    <div class="accordion-heading">
			      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse1">
			        Why do I get the message telling me that the intersection group is empty?
			      </a>
			    </div>
			    <div id="collapse1" class="accordion-body collapse">
			      <div class="accordion-inner">
			        The opinion-leaders you choose must have common followers/following, otherwise it is impossible to find an intersecting group.
			        Choose opinion-leaders that are somewhat connected.
			      </div>
			    </div>
			  </div>				
			  <div class="accordion-group">
			    <div class="accordion-heading">
			      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse2">
			        Why do I get zero "early-adopters"?
			      </a>
			    </div>
			    <div id="collapse2" class="accordion-body collapse">
			      <div class="accordion-inner">
			        That means that the intersection group created by intersecting the followers and the following of your 
			        opinion-leaders (according to your choice) is not empty, however all the early-adopters are filtered 
			        out by the default filtering parameters. Try to soften to filters or choose another, more connected, opinion-leaders.
			      </div>
			    </div>
			  </div>
			  <div class="accordion-group">
			    <div class="accordion-heading">
			      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse3">
			        Why do I have to wait 15 minutes between each MVPtest?
			      </a>
			    </div>
			    <div id="collapse3" class="accordion-body collapse">
			      <div class="accordion-inner">
			        Twitter API allows a 15 minute window per user. Thus, after each MVPtest, you will have to wait 15 minuters for Twitter to reset your API usage.
			      </div>
			    </div>
			  </div>
			  <div class="accordion-group">
			    <div class="accordion-heading">
			      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse4">
			        What is "Number of fetches exceeded"?
			      </a>
			    </div>
			    <div id="collapse4" class="accordion-body collapse">
			      <div class="accordion-inner">
			        That means you are trying to intersect huge groups of followers and following (or that your account is rich in followers or following).
			        Currently, MVPtest is designed for relativly new accounts, so if you have an account with large following or followers numbers (more then 5,000), 
			        your usage of MVPtest will be less effective. Try changing the intersection parameters to avoid intersection with large groups (more then 25,000).
			      </div>
			    </div>
			  </div>	
			  <div class="accordion-group">
			    <div class="accordion-heading">
			      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse6">
			        How exactly do you follow the "early-adopters"?
			      </a>
			    </div>
			    <div id="collapse6" class="accordion-body collapse">
			      <div class="accordion-inner">
					MVPtest starts to follow the "early adopters" after you choose them. Currently, it follows one of them every 30 minutes in order to prevent bulk-following
					which is prohibited by Twitter.  
			      </div>
			    </div>
			  </div>			  
			</div>
		  </div>
		  <div class="modal-footer">
			<button class="btn" data-dismiss="modal">Close</button>
		  </div>
		</div>
        
        {% block extra_content %}{% endblock %}
        
		<!-- Le javascript ================================================== -->
 		<noscript>We're sorry, but your browser does not support JavaScript.</noscript>
 		
		<script src="{% static 'js/modernizr-2.6.2-respond-1.1.0.min.js' %}"></script>

	    <!-- Load jQuery from Google CDN -->
	    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	    <!-- Load jQuery from a local copy if loading from Google fails -->
	    <script type="text/javascript">window.jQuery || document.write('<script type="text/javascript" src={% static "js/jquery-1.10.2.min.js" %}><\/script>')</script>
		
		<!--<script>
			$.fn.bsbutton = $.fn.button;
		</script>-->
		<script src="{% static 'js/bootstrap.min.js' %}"></script>
		<script src="{% static 'js/jquery-ui-1.10.2.custom.min.js' %}"></script>		
		<script src="{% static 'js/plugins.js' %}"></script>
		<script src="{% static 'js/main.js' %}"></script>
		{% dajaxice_js_import %}
		<!-- Google Analytics: change UA-XXXXX-X to be your site's ID.
		<script>
			var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
			(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
			g.src='//www.google-analytics.com/ga.js';
			s.parentNode.insertBefore(g,s)}(document,'script'));
		</script> -->     
        
    </body>
</html>