{% extends "base.html" %}
{% load staticfiles %}
{% block title %} Welcome ! {% endblock %}
{% block head %}
	<link href="{% static 'css/homepage.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
    
        <!-- Main hero  -->
        <header>
            <div class="hero-unit">
                <div class="hero-content">
                    <div class="row-fluid">
                        <div class="span12 text-center">
                            <p>Please read through to get the gist of MVPtest<br /> When you are ready click below to start your MVPtest plan</p> 
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span12 text-center">                    
                          <a href="/accounts/twitter/login/"><button class="btn btn-large btn-primary" type="button">Log-in with your Twitter account</button></a>
                        </div>
                    </div>                          
                </div>
            </div>	
        </header>		
            
		<section>
		    <!-- Marketing messaging and featurettes
		    ================================================== -->
		    <!-- Wrap the rest of the page in another container to center all the content. -->
		
		    <div class="container marketing">
		
		      <div class="row">
		        <div class="span12 text-center">
		        	<h1>Before you begin...</h1>
	        	</div>	
	          </div>				
		
		      <!-- Three columns of text  -->
		      <div class="row">
		        <div class="span4">
		          <img class="img-circle" height="135px" width="135px" src="{% static 'img/bar1.png' %}">
		          <h2>Know thyself</h2>
		          <p>Create a short and focused pitch of the idea you want to validate. Look around the arena to see who are the opinion leaders in the field your idea is addressing. Preferably, create a simple landing page for your value proposition.</p>
		        </div><!-- /.span4 -->		      	
		        <div class="span4">
		          <img class="img-circle" height="140px" width="140px" src="{% static 'img/bar2.png' %}">
		          <h2>Twitter account</h2>
		          <p>The twitter account should be specificaly tailored for your idea. The description part should include your best pitch on the subject and the link to your landing page. Please, never forget to include a profile image.</p>
		        </div><!-- /.span4 -->
		        <div class="span4">
		          <img class="img-circle" height="130px" width="130px" src="{% static 'img/bar3.png' %}">
		          <h2>Two key players</h2>
		          <p>Investigate to find out who are the key players in your target market. These people will be followed by those you are targeting. Grab the Twitter usernames of those two key players and you're <a href="/accounts/twitter/login/">ready to roll</a>.</p>
		        </div><!-- /.span4 -->
		      </div><!-- /.row -->		
			
		
		      <!-- START THE FEATURETTES -->
		
			  <hr class="featurette-divider">

		      <div class="featurette">
		        <img class="featurette-image pull-right" height="200" width="200" src="{% static 'img/figure1.png' %}">
		        <h2 class="featurette-heading">From gurus. <span class="muted">To early adopters.</span></h2>
		        <p class="lead">Give MVPtest two somehow related twitter usernames, and it will give you a group that is the intersection between the following and followers of both users you gave. These will form the basis for you validation plan.</p>
		      </div>
		
		      <hr class="featurette-divider">
		
		      <div class="featurette">
		        <img class="featurette-image pull-left" height="200" width="200" src="{% static 'img/figure2.png' %}">
		        <h2 class="featurette-heading">You choose. <span class="muted">MVPtest follows.</span></h2>
		        <p class="lead">MVPtest makes it easy for you to laser-focus on your target market using a set of simple twitter accosiated parameters; then MVPtest follows your early adopters for you, projecting you the progress of follow-backs.</p>
		      </div>
		
		      <hr class="featurette-divider">
		
		      <div class="featurette">
		        <img class="featurette-image pull-right" height="200" width="200" src="{% static 'img/figure3.png' %}">
		        <h2 class="featurette-heading">Set actionable metrics. <span class="muted">Lean Startup way.</span></h2>
		        <p class="lead">The metric you define with MVPtest is the percetage of people following you back, thus finding your idea appealing and interesting. Set the timeframe for the validation and decide what follow-back percantage will constitute a successful validation. MVPtest will use these to monitor you progress and overall validation outcome.</p>
		      </div>
	
		      <!-- /END THE FEATURETTES -->
		      
		      </div>        
		</section>		
		
{% endblock %}		     
{% block extra_content %}
		<div id="TBD_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="TBF_Modal" aria-hidden="true">

		</div>	  
{% endblock %}