{% extends "base.html" %}
{% load staticfiles %}
{% block title %} Welcome ! {% endblock %}
{% block content %}
    
        <!-- Main hero  -->
        <header>
            <div class="hero-unit">
                <div class="hero-content">
                    <div class="row-fluid">
                        <div class="span12 text-center">
                            <p id="target">STEP 1. Hi {{ user }}, Let's create a CrossValidate job!</p>
                        </div>
                    </div>                        
                </div>
            </div>	
        </header>		
       <!-- <form id="pleaseWait" class="form-horizontal" action="" method="post">{% csrf_token %} -->     
        	<div class="row-fluid">
        		<div class="span3 offset2 text-center">
        			<input id="inputUsername1" name="subject1Name" placeholder="enter twitter username" type="text" /><img id="subject1go" height="35" width="35" src="{% static 'img/arrow-right.png' %}">
        			<p id="outputUsername1_message"></p>
        			<div id="outputUsername1">        				
        				<p id="outputUsername1_name"></p>
        				<img id="outputUsername1_img">        				
						<p>Following: <span id="outputUsername1_following"></span> | Followers: <span id="outputUsername1_followers"></span></p>
						<div class="text-left">
							<input type="radio" name="outputUsername1_cross" value="both" checked> <span> Intersect Following and Followers</span> </br>
							<input type="radio" name="outputUsername1_cross" value="followings"> <span> Intersect Following only</span></br>
							<input type="radio" name="outputUsername1_cross" value="followers"> <span> Intersect Followers only</span>
						</div>  				
        			</div>
        		</div>
        		<div class="span3 offset3 text-center">
        			<input id="inputUsername2" name="subject2Name" placeholder="enter twitter username" type="text" /><img id="subject2go" height="35" width="35" src="{% static 'img/arrow-right.png' %}">
        			<p id="outputUsername2_message"></p>
        			<div id="outputUsername2">        				
        				<p id="outputUsername2_name"></p>
        				<img id="outputUsername2_img">
        				<p>Following: <span id="outputUsername2_following"></span> | Followers: <span id="outputUsername2_followers"></span></p>
						<div class="text-left">
							<input type="radio" name="outputUsername2_cross" value="both" checked> <span> Intersect Following and Followers</span> </br>
							<input type="radio" name="outputUsername2_cross" value="followings"> <span> Intersect Following only</span></br>
							<input type="radio" name="outputUsername2_cross" value="followers"> <span> Intersect Followers only</span>
						</div>      				        				
        			</div>
        		</div>  
        	</div>
        	<div class="row-fluid">
        		<div class="span6 offset3 text-center">
        			<img id="toStep2" height="50" width="50" src="{% static 'img/arrow-down.png' %}">
        		</div>
        	</div>
      	<!-- 
        {% for field in form %}
            <div class="control-group field_container">
                {{ field.errors }}
                <label class="control-label"> {{ field.label_tag }} </label>
                <div class="controls"> {{ field }} </div>
            </div>    
        {% endfor %}
        <input class="btn" type="submit" value="Submit" />
        </form>       -->           
		<section>
        
		</section>					
{% endblock %}		     
{% block extra_content %}
		<div id="TBD_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="TBF_Modal" aria-hidden="true">

		</div>	  
{% endblock %}