{% extends "base.html" %}
{% load staticfiles %}
{% block title %} Choose an MVPtest plan {% endblock %}
{% block content %}
    <div id="stage1">
        <!-- Main hero  -->
        <header id="plans_header">
            <div class="hero-unit">
                <div class="hero-content">
                    <div class="row-fluid">
                        <div class="span12 text-center">
                        	<h1>Pricing Plans</h1>
                            <p>You have found <b>{{ NofCrossUsers }}</b> early adopters</p>
                            <p>Please choose a pricing plan for your MVPtest</p>
                        </div>
                    </div>                        
                </div>
            </div>	
        </header>		
       	     
        	<div class="row-fluid">
        		<div id="plan1" class="span2 offset3 text-center plans">
					<h1>FREE</h1>
					<p class="price">&nbsp;</p>
					<p class="under_price">&nbsp;</p>
					<hr />
					<p>up to 20 <br /> early-adopters</p>	
					<br />
					<input id="free" class="btn" type="submit" name="free" value="GO FREE" />				
        		</div>
        		<div id="plan2" class="span2 text-center plans">
					<h1>PREMIUM</h1>
					<p class="price">1$</p>
					<p class="under_price">per MVPtest</p>
					<hr />
					<p>up to 100 <br /> early-adopters</p>	
					<br />
					<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
					<input type="hidden" name="cmd" value="_s-xclick">
					<input type="hidden" name="hosted_button_id" value="9P3TJW7Q2V64G">
					<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_paynow_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
					<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
					</form>
        		</div>    
        		<div id="plan3" class="span2 text-center plans">
					<h1>LIMITLESS</h1>
					<p class="price">5$</p>
					<p class="under_price">per MVPtest</p>					
					<hr />
					<p>Any number of <br /> early-adopters</p>	
					<br />
					<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
					<input type="hidden" name="cmd" value="_s-xclick">
					<input type="hidden" name="hosted_button_id" value="6FPX8J5GXJCG2">
					<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_paynow_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
					<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
					</form>
       		</div>           		    		
        	</div>
        	<hr />
			<div class="row-fluid">	
				<div class="span12 text-center">
					<img id="cancel" height="50" width="50" src="{% static 'img/cancel.png' %}">
				</div>
			</div>
       </div>     
				
{% endblock %}		     
{% block extra_content %}
		<div id="TBD_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="TBF_Modal" aria-hidden="true">

		</div>	  
{% endblock %}