{% extends "base.html" %}
{% load staticfiles %}
{% block title %} Welcome ! {% endblock %}
{% block content %}
    
        <!-- Main hero  -->
        <header>
            <div class="hero-unit">
                <div class="hero-content">
                    <div class="row-fluid">
                        <div class="span12 text-center">
                            <p>STEP 2. Hi {{ user }}!</p> 
                        </div>
                        <div class="span12 text-center">
                            <p>You are following {{FFdata.userNoFollowing}} people, and have {{FFdata.userNoFollowers}} followers</p> 
                            <p>{{FFdata.subject1Name}} is following {{FFdata.subject1NoFollowing}} people, and has {{FFdata.subject1NoFollowers}} followers</p>
                            <p>{{FFdata.subject2Name}} is following {{FFdata.subject2NoFollowing}} people, and has {{FFdata.subject2NoFollowers}} followers</p>
                        </div>                        
                    </div>                        
                </div>
            </div>	
        </header>		
        <form id="pleaseWait" class="form-horizontal" action="" method="post">{% csrf_token %}
        {% for field in form %}
            <div class="control-group field_container">
                {{ field.errors }}
                <label class="control-label"> {{ field.label_tag }} </label>
                <div class="controls"> {{ field }} </div>
            </div>    
        {% endfor %}
        <input class="btn" type="submit" value="Submit" />
        </form>                  
		<section>
        
		</section>					
{% endblock %}		     
{% block extra_content %}
		<div id="TBD_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="TBF_Modal" aria-hidden="true">

		</div>	  
{% endblock %}