{% extends "base.html" %}
{% load staticfiles %}
{% block title %} Choose opinion-leaders and intersect {% endblock %}
{% block content %}
    <div id="stage1">
        <!-- Main hero  -->
        <header id="stage1_header">
            <div class="hero-unit">
                <div class="hero-content">
                    <div class="row-fluid">
                        <div class="span12 text-center">
                        	<h1>New MVPtest</h1>
                            <p id="target_stage1">Loading application...</p>
                        </div>
                    </div>                        
                </div>
            </div>	
        </header>		
       	     
        	<div class="row-fluid">
        		<div class="span3 offset2 text-center">
        			<input id="inputUsername1" name="subject1Name" placeholder="1st opinion-leader username" type="text" /><img id="subject1go" height="35" width="35" src="{% static 'img/arrow-right.png' %}">
        			<p id="outputUsername1_message"></p>
        			<div id="outputUsername1">        				
        				<p id="outputUsername1_name"></p>
        				<img id="outputUsername1_img">        				
						<p>Following: <span id="outputUsername1_following"></span> | Followers: <span id="outputUsername1_followers"></span></p>
						<label class="radio text-left">
							<input type="radio" name="outputUsername1_cross" value="both" checked> <span> Intersect Following and Followers</span> </br>
						</label>
						<label class="radio text-left">
							<input type="radio" name="outputUsername1_cross" value="following"> <span> Intersect Following only</span></br>
						</label>  
						<label class="radio text-left">
							<input type="radio" name="outputUsername1_cross" value="followers"> <span> Intersect Followers only</span>
						</label>  				
        			</div>
        		</div>
        		<div class="span3 offset3 text-center">
        			<input id="inputUsername2" name="subject2Name" placeholder="2nd opinion-leader username" type="text" /><img id="subject2go" height="35" width="35" src="{% static 'img/arrow-right.png' %}">
        			<p id="outputUsername2_message"></p>
        			<div id="outputUsername2">        				
        				<p id="outputUsername2_name"></p>
        				<img id="outputUsername2_img">
        				<p>Following: <span id="outputUsername2_following"></span> | Followers: <span id="outputUsername2_followers"></span></p>
						<label class="radio text-left">
							<input type="radio" name="outputUsername2_cross" value="both" checked> <span> Intersect Following and Followers</span> </br>
						</label>
						<label class="radio text-left">
							<input type="radio" name="outputUsername2_cross" value="following"> <span> Intersect Following only</span></br>
						</label>  
						<label class="radio text-left">
							<input type="radio" name="outputUsername2_cross" value="followers"> <span> Intersect Followers only</span>
						</label>  	     				        				
        			</div>
        		</div>  
        	</div>
        	<div class="row-fluid">
        		<div class="span6 offset3 text-center">
        			<img id="toStep2" height="50" width="50" src="{% static 'img/arrow-down.png' %}">
        			<img id="toStep2_loading" height="50" width="50" src="{% static 'img/loading.gif' %}">
        			<br />
        			<p id="toStep2_message"></p>
        		</div>
        	</div>
       </div>     
       <div id="stage2">    
        <header id="stage2_header">
            <div class="hero-unit">
                <div class="hero-content">
                    <div class="row-fluid">
                        <div class="span12 text-center">    
                        	<h1>Applying Filters</h1>                    	
                            <p id="target_stage2">Intersection between followers and following is complete.<br />Now you can apply some quick filters to focus on your early adopters.</p>
                        </div>
                    </div>                        
                </div>
            </div>	
        </header>	 
        
        <div id="filter_params">
        	<div class="row-fluid text-center">
        		<h2>Filtering parameters</h2>
        		<div class="span10 offset1 text-center">
					<h4>Applying filters: <strong><span id="crossNum"></span></strong> potential early adopters found</h4>        							
			        <table class="table">
				        <tr>
				            <th><p></p></th>
				            <th><p>Minimum</p></th>
				            <th><p>Maximum</p></th>
				        </tr>
		                <tr>            
		                    <td><p>Following</p></td>
		                    <td>
		                    	<select id="Following_Minimum">
		                    	  <option>0</option>
								  <option>10</option>
								  <option>100</option>
								  <option>500</option>
								  <option>1,000</option>
								  <option>5,000</option>
								  <option>10,000</option>
								</select>
		                    </td>
	                    	<td>
		                    	<select id="Following_Maximum">
								  <option>500</option>
								  <option>1,000</option>
								  <option>5,000</option>
								  <option>10,000</option>
								  <option>50,000</option>
								  <option>100,000</option>
								  <option>1,000,000</option>
								</select>
		                    </td>                    
		                </tr>	
		                <tr>            
	                    	<td><p>Followers</p></td>
		                    <td>
		                    	<select id="Followers_Minimum">
		                    	  <option>0</option>
								  <option>10</option>
								  <option>100</option>
								  <option>500</option>
								  <option>1,000</option>
								  <option>5,000</option>
								  <option>10,000</option>
								</select>
		                    </td>
	                    	<td>
		                    	<select id="Followers_Maximum">
								  <option>500</option>
								  <option>1,000</option>
								  <option>5,000</option>
								  <option>10,000</option>
								  <option>50,000</option>
								  <option>100,000</option>
								  <option>1,000,000</option>
								</select>
		                    </td>             
		                </tr>
						<tr>            
	                    	<td><p>Following/Followers ratio </p></td>
		                    <td>
		                    	<select id="FF_Minimum">
		                    	  <option>0</option>
								  <option>0.1</option>
								  <option>0.3</option>
								  <option>0.5</option>
								  <option>0.7</option>
								  <option>1</option>
								  <option>2</option>
								  <option>5</option>
								  <option>10</option>
								</select>
		                    </td>
		                    <td>
		                    	<select id="FF_Maximum">
								  <option>0.5</option>
								  <option>1</option>
								  <option>2</option>
								  <option>5</option>
								  <option>10</option>
								  <option>50</option>
								  <option>100</option>
								  <option>100000</option>
								</select>
		                    </td>                
		                </tr>		                
                           	                  
			    	</table>  				    			    	      			        			
        		</div>
        	</div>  
    		<div class="row-fluid">
				<div class="span5 offset1 text-center">
					<p>Minimum number of tweets</p>
				     <select id="minNoTweets">
				      <option>0</option>
					  <option>10</option>
					  <option>100</option>
					  <option>500</option>
					  <option>1,000</option>
					  <option>5,000</option>
					  <option>10,000</option>
					</select>
				</div>
				<div class="span5 text-center">
					<p>Number of days since last tweet</p>
				     <select id="maxDays">
					  <option>1</option>
					  <option>3</option>
					  <option>5</option>
					  <option>7</option>
					  <option>10</option>
					  <option>30</option>
					  <option>100</option>
					</select>
				</div>				
			</div>		
		</div>	
		<div class="row-fluid">
			<div class="span10 offset1 text-center">
				<h2>Validation parameters</h2>
			</div>
		</div>
			<div class="row-fluid">
				<div class="span5 offset1 text-center">
					<p>Validation period (days)</p>
				     <select id="validationDays">
					  <option>2</option>
					  <option>3</option>
					  <option>4</option>
					  <option>5</option>
					  <option>6</option>
					  <option>7</option>
					  <option>8</option>
					</select>
				</div>
				<div class="span5 text-center">
					<p>Validation threshold (following back ratio)</p>
				     <select id="validationThreshold">
					  <option>0.2</option>
					  <option>0.3</option>
					  <option>0.4</option>
					  <option>0.5</option>
					  <option>0.6</option>
					  <option>0.7</option>
					  <option>0.8</option>
					  <option>0.9</option>					  
					</select>
				</div>				
			</div>	
			<div class="row-fluid">	
				<div class="span12 text-center">
					<img id="toStep3" height="50" width="50" src="{% static 'img/arrow-down.png' %}">
				</div>
			</div>	
			<div class="row-fluid">	
				<div class="span12 text-center">
					<img id="cancel" height="50" width="50" src="{% static 'img/cancel.png' %}">
				</div>		
			</div>						
       </div>         
		<section>
        
		</section>					
{% endblock %}		     
{% block extra_content %}
		<div id="TBD_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="TBF_Modal" aria-hidden="true">

		</div>	  
{% endblock %}